@import "color";
$primary-color : $color-teal-500;
$primary-dark-color : $color-teal-700;
$primary-border-color : $color-teal-900;

.navbar-custom {
    background-color: $primary-color;
    border: 0;

    .navbar-brand {
        color: $color-grey-200;
    }

    .navbar-nav {
        & > li {
            & > a {
                color: $color-grey-200;
                &:hover {
                    color: $color-white;
                }
            }

            &.active, &:focus, &.dropdown.open {
                & > a, & > a:hover {
                    background: $primary-dark-color;
                }
            }
        }

    }

    .navbar-toggle, .navbar-toggle {
        border: 0;
        &:hover, &:focus {
            background-color: $primary-dark-color;
        }
    }

    .navbar-collapse, .navbar-form {
        border-color: $primary-dark-color;
    }
}

@media (max-width: 767px) {
    .navbar-custom{
        .navbar-nav{
            .open .dropdown-menu {
                .divider {
                    background-color: $primary-dark-color;
                }

                & > li {
                    & > a {
                        color: $color-grey-200;
                    }
                }
            }
        }
    }
}

body.login{
    background: url(../img/back.png);
    background-color: #444;
    background: url(../img/pinlayer2.png),url(../img/pinlayer1.png),url(../img/back.png);

    .vertical-offset-200{
        padding-top:200px;
    }
}

// Table design style
.custyle {

}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    padding-top: 300px
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}//

// Side bar style
@import url(http://fonts.googleapis.com/css?family=Lato);

.container.template
{
    overflow:hidden;
    display:inline-block;
}
.side-bar
{
    background:#74AFAD;
    position:absolute;
    height:100%;
    width:200px;
    color:#fff;
    transition: margin-left 0.5s;
    padding-top: 20px;
}

.side-bar ul
{
    list-style:none;
    padding:0px;

}

.side-bar ul li.menu-head
{
    font-family: 'Lato', sans-serif;
    padding:20px;
}


.side-bar ul li.menu-head a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}


.side-bar ul .menu-head  a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a
{
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover
{
    border-left:3px solid #ECECEA;
    padding-left:17px;
    background-color: #3BD9D2;

}

.side-bar ul .menu li  a.active
{
    padding-left:17px;
    background:#3BD9D2;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 7px solid #3BD9D2;
    margin-top: -10px;
    margin-left: 180px;
}

.active > .side-bar
{
    margin-left:-150px;
    transition: margin-left 0.5s;
}

.profile-userpic img {
    float: none;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}//

// manager-order-admin.html style
.content
{
    padding-left: 200px;
    transition: padding-left 0.5s;
}
.active > .content
{
    padding-left:50px;
    transition: padding-left 0.5s;
}

textarea {
    resize: none;
}

.red{
    color:red;
    }

.thumbnail-package {
    padding-left: 95px;
    padding-bottom: 20px;
}
img {
    width:400px; margin:auto; }

    .img-upload-btn {
        position: relative;
        overflow: hidden;
        padding-top: 95%;
    }

    .img-upload-btn input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .img-upload-btn i {
        position: absolute;
        height: 16px;
        width: 16px;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -8px;
    }

    .btn-radio {
        position: relative;
        overflow: hidden;
    }

    .btn-radio input[type=radio] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
//

// package.html
.btn-product{
	width: 100%;
}





//
